.InfoWindow {
  background-color: white !important;
  color: black !important;
  /* justify-content: center !important; */
  font-size: 20px !important;
  font-family: "Noto Sans";
  border-radius:15px!important;
}

.justify-content-center {
  align-items: center !important;
}

button{
    background-color: orange;
}

.reviewButt {
  text-align: center !important;
  margin-right: 10rem !important;
  border-radius: 10px !important;
  background-color: orange!important;
  height: 30px!important;
  padding-bottom: 30px!important;
}
