.InfoWindow{
    background-color: #264653 !important;
    color: yellow!important;
    justify-content: center !important;
    font-size: 15px !important;
    font-family: 'Noto Sans', sans-serif;
    

}

button{
    background-color: yellow;
    border-radius: 10px;
}

.justify-content-center{
    align-items: center !important;
}

.reviewButt {
    text-align: center !important;
    margin-left: 2.8rem !important; 
    border-radius:10px;
}

